<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer type="module" src="/src/logic.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/styles.css">

</head>
<body>
    <h2>Is it prime?</h2>
    <label for="numberInput">Input number: </label>
    <input type="number" id="numberInput">
    <button id="Btn-Prime">Is it prime?</button>
    <button id="Btn-Factorial">Get factorial</button>
    <h4>History</h4>
    <div id="resultHolder">
        <div id="resultHistory"> </div>
    </div>
</body>
</html>